<% include ../partials/header %>


<!--CAMP DETAIL SECTION-->
<div class="container">
   <div class="row">

      <!--DETAILS-->
      <div class="col-md-7">
         <div class="thumbnail">
            <img class="img-resposnive" src="<%= campground.image%>">
            <div class="caption-full">

               <div class="light-bg shadowy fira-thin">
                  <h4 class="pull-right">$<%= campground.price %>/night</h4>

                  <div class="rub-thick-font">
                     <h4><%=campground.name%></h4>
                  </div>
                   
                   <p>Submited by: <span class="rub-thick-font"><%=campground.author.username%></span></p>
               </div>
               
                  <div class="light-bg shadowy text-scroll fira-thin text-pad">
                     <p><%=campground.description%></p>  
                  </div>
               
               <% if(currentUser && campground.author.id.equals(currentUser._id)){%>
               <a class="btn edit fira-thin" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
               <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                  <button class="btn danger fira-thin">Delete</button>
               </form>
               <%}%>
            </div>
         </div>
      </div>   

      <!--space div-->
      <div class="col-md-1"></div>

      <div class="col-md-4">
         <p class="section-title text-center">Comments</p>
            
         <!--COMMENT SECTION-->
         <div class="light-bg shadowy">
   
            <!--Add new comment-->
            <div class="text-center">
               <a class="btn more-info shadowy fira-thin" href="/campgrounds/<%=campground._id%>/comments/new">Add Comment</a>
            </div>
            <hr>
                        
            <!--Posted Comments-->
            <div class="comment-scroll fira-thin">        
               <% campground.comments.forEach(function(comment){%>
                  <div class="row">
                     <div class="col-md-12"> 
                        <div class="rub-thick-font text-pad">
                           <h4><%= comment.author.username %></h4>
                        </div>
                        <div class="text-pad ">
                           <p>
                              <%= comment.text %>
                           </p>
                             
                        </div>
                          
                        
                                  
                           
                        <!--Edit/Delete Comment-->
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                           <a class="btn btn-xs edit fira-thin"
                              href="/campgrounds/<%=campground._id%>/comments/<%=comment._id %>/edit">
                              Edit
                           </a>
                           <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE"
                                 method="POST">
               
                              <button class="btn btn-xs danger fira-thin"
                                       value="Delete">
                                       Delete
                              </button>    
                           </form> 
                        <% } %>
                        <hr>  
                     </div>
                  </div>
               <% }); %>   
            </div> 

         </div>
      </div>

   </div>
</div>



<% include ../partials/footer %>
